swagger: "2.0"

# Metadata
info:
  description: 'Group 10 Project - AECM - API Documentation'
  version: '0.0.1'
  title: 'AECM'
  contact:
    email:
      - 'mi993440@ucf.edu'
  license:
    name: 'Apache 2.0'
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'

# Docs
paths:
  /Login.php:
    post:
      tags:
      - Users
      summary: Log in page for users
      description: Authenticates users
      operationId: LoginPage
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: LoginItem
        description: Login
        schema:
          $ref: '#/definitions/Login'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/LoginResponse'
        404:
          description: URL Not Found
          schema:
            $ref: '#/definitions/NotFoundErrorResponse'
        500:
          description: Server Error
          schema:
            $ref: '#/definitions/ServerErrorResponse'
  
  /AddContact.php:
    post:
      tags:
      - Add Contacts
      summary: Add contacts
      operationId: contactAdd
      description: Adds contacts to contacts database
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: addItem
        description: Add contact
        schema:
          $ref: '#/definitions/Add'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/GenericResponse'
        404:
          description: URL Not Found
          schema:
            $ref: '#/definitions/NotFoundErrorResponse'
        500:
          description: Server Error
          schema:
            $ref: '#/definitions/ServerErrorResponse'

  /SearchContact.php:
    post:
      tags:
      - Search Contacts
      summary: Searches for contacts
      operationId: contactSearch
      description: Searches contacts from contacts database
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: SearchItem
        description: Contact Search
        schema:
          $ref: '#/definitions/Search'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SearchResponse'
        404:
          description: URL Not Found
          schema:
            $ref: '#/definitions/NotFoundErrorResponse'
        500:
          description: Server Error
          schema:
            $ref: '#/definitions/ServerErrorResponse'

  /DeleteContact.php:
    post:
      tags:
      - Delete Contacts
      summary: Deletes contacts 
      operationId: contactDelete
      description: Deletes contacts from contacts database
      produces:
      - application/json
      parameters:
      - in: body
        name: deleteItem
        description: Contact Deletion
        schema:
          $ref: '#/definitions/Delete'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/GenericResponse'
        404:
          description: URL Not Found
          schema:
            $ref: '#/definitions/NotFoundErrorResponse'
        500:
          description: Server Error
          schema:
            $ref: '#/definitions/ServerErrorResponse'

  /UpdateContact.php:
    post:
      tags:
      - Update Contacts
      summary: Updates contacts
      operationId: contactUpdate
      description: Updates contact information in database
      produces:
      - application/json
      parameters:
      - in: body
        name: updateItem
        description: Contact Update
        schema:
          $ref: '#/definitions/Update'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/GenericResponse'
        404:
          description: URL Not Found
          schema:
            $ref: '#/definitions/NotFoundErrorResponse'
        500:
          description: Server Error
          schema:
            $ref: '#/definitions/ServerErrorResponse'


definitions:
  Contact:
    type: object
    properties:
      ContactID:
        type: integer
        example: 123
      FirstName:
        type: string
        example: John
      LastName:
        type: string
        example: Doe
      Phone:
        type: string
        example: 123-456-7890
      Email:
        type: string
        example: jdoe@email.com

  Login:
    type: object
    required:
    - Login
    - Password
    properties:
      Login:
        type: string
        example: UserName123
      Password:
        type: string
        example: Password123

  Add:
    type: object
    required:
    - UserID
    - FirstName
    - LastName
    - Phone
    - Email
    properties:
      UserID:
        type: integer
        example: 123
      FirstName:
        type: string
        example: John
      LastName:
        type: string
        example: Doe
      Phone:
        type: string
        example: 1234567890
      Email:
        type: string
        example: jdoe@Email.com

  Search:
    type: object
    required:
    - UserID
    - Search
    properties:
      UserID:
        type: integer
        example: 123
      Search:
        type: string
        example: John Doe

  
        
  Delete:
    type: object
    required:
    - UserID
    - ContactID
    properties:
      UserID:
        type: integer
        example: 123
      ContactID:
        type: integer
        example: 123

  Update:
    type: object
    required:
    - UserID
    - ContactID
    - FirstName
    - LastName
    - Phone
    - Email
    properties:
      UserID:
        type: integer
        example: 123
      ContactID:
        type: integer
        example: 123
      FirstName:
        type: string
        example: John
      LastName:
        type: string
        example: Doe
      Phone:
        type: string
        example: 123-456-7890
      Email:
        type: string
        example: jdoe@email.com

  #Responses:

  LoginResponse:
    type: object
    properties:
      UserID:
        type: integer
        example: 123
      FirstName:
        type: string
        example: John
      LastName:
        type: string
        example: Doe
      Error:
        type: string
        example: ""

  SearchResponse:
    type: object
    properties:
      Results:
        type: array
        items:
          $ref: '#/definitions/Contact'
      Error:
        type: string
        example: ""

  GenericResponse:
    type: object
    properties:
      Error:
        type: string
        example: ""

  ServerErrorResponse:
    type: object
    properties:
      Error:
        type: string
        example: "Internal server error"

  NotFoundErrorResponse:
    type: object
    properties:
      Error:
        type: string
        example: "URL Not Found"

host: aecm.site
basePATH: /LAMPAPI
schemes:
 - https
 - http

